server:
  port: 8901
spring:
  application:
    name: discovery
eureka:
  instance:
    hostname: localhost # Should change when containerizing
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/

