server:
  port: 8900
spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/user/**
              filters:
                - RewritePath=/user/(?<remaining>.*),/${remaining}
            - id: news-service
              uri: lb://NEWS-SERVICE
              predicates:
                - Path=/news/**
              filters:
                - RewritePath=/news/(?<remaining>.*),/${remaining}
            - id: news-fetcher
              uri: lb://NEWS-FETCHER
              predicates:
                - Path=/fetcher/**
              filters:
                - RewritePath=/fetcher/(?<remaining>.*),/${remaining}
            - id: recommendation-service
              uri: lb://RECOMMENDATION-SERVICE
              predicates:
                - Path=/recommendations/**
              filters:
                - RewritePath=/recommendations/(?<remaining>.*),/${remaining}
            - id: ai-service
              uri: ${ai-service.url}
              predicates:
                - Path=/ai/**
              filters:
                - RewritePath=/ai/(?<remaining>.*),/${remaining}

    discovery:
      locator:
        enabled: true
        lower-case-service-id: true

ai-service:
  url: ${AI_SERVICE_URL:http://localhost:8999}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true
    health:
      show-details: always
eureka:
  instance:
    hostname: ${EUREKA_HOST:localhost}
  client:
    service-url:
      defaultZone: ${DEFAULT_ZONE:http://localhost:8901/eureka}
jwt:
  secret: ${jwt_secret}
logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.http.server.reactive: DEBUG
internal:
  token: ${internaltoken:OPtionalInternalTOken}
springdoc:
  api-docs:
    groups:
      enabled: true
    enabled: true
    path: /api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    persist-authorization: true
    urls:
      - name: user-service
        url: /user/v3/api-docs

      - name: news-fetcher
        url: /fetcher/v3/api-docs

      - name: news-service
        url: /news/v3/api-docs

      - name: recommendation-service
        url: /recommendations/v3/api-docs

      - name: ai-service
        url: /ai/openapi.json

    disable-swagger-default-url: true
    use-root-path: true
  override-with-generic-response: true